@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-montserrat: "Montserrat", sans-serif;
  }

  body {
    @apply font-primary bg-primary text-black leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 transparent;
  }
}
